streamlit
pandas
numpy
python-dotenv
langchain
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
plotly
openai
tqdm
transformers
torch
chromadb[uvicorn]
sentence-transformers
gdown
faiss-cpu
